
<!DOCTYPE html>
<!--Comentarios
HTML=
HYPER
TEXT
MARKUP
LANGUAGE
-->
<html lang="pt_br"> <!--Lang e um atributo-->
<head> <!--Configurações do documento-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Proffy |Sua plataforma de estudos </title>
    <link rel="shortcut icon" href="/images/images/favicon.png">
    <!--Um metodo de usar css no documento
    <style>
        /*COMENTARIOS EM CSS
        CSS
        CASCADING
        STYLESHEET
        */

         #page-landing{
    
            color:rebeccapurple;
        }
    </style>
    -->
    <link rel="stylesheet" href="/partials/main.css">
    <link rel="stylesheet" href="/partials/header.css">
    <link rel="stylesheet" href="/partials/forms.css">
    <link rel="stylesheet" href="/partials/page-give-classes.css">
  

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" 
    rel="stylesheet">
    <script src ="scripts/addField.js" defer></script>

</head>

<body id="page-give-classes"> <!--todo conteudo visivel da pagina aqui-->
<div id = "container">
<header class="page-header">

    <div class="top-bar-container">
        <a href="/index">
        <img src="/images/images/icons/back.svg" alt="Voltar">
    </a>
        <img src="images/images/logo.svg" alt="Proffy">
    </div>
    <div class="header-content">
        <strong>Que Incrível,Então Você quer dar Aulas?</strong>
      <p>Primeiro,preencha esse formulario e venha fazer parte da nossa plataforma </p>
    </div>
</header>
<main><!--Conteudo do meio da pagina-->
  <form action="/save-class" id="create-class" method="POST" >
      <fieldset>
          <legend>Seus dados</legend>

          <div class="input-block">
              <label for="name">Nome Completo</label>
              <input name="name" id ="name" required>
           </div>

           <div class ="input-block">
               <label for="avatar">Link da sua foto<small>(comece com https://)</small></label>
<input name="avatar" id="avatar" type="url" required>
           </div>

  <div class="input-block">
      <label for="Whatsapp">Whatsapp<small>(somente numeros)</small></label>
      <input name="whatsapp" id="whatsapp" type="number" required>
  </div> 

  <div class="textarea-block">
      <label for="bio">Biografia</label>
      <textarea name="bio" id="bio" required></textarea>
  </div>        

 </fieldset>
 <fieldset>
     <legend>Sobre a aula</legend>
     <div class="select-block">
         <label for="subject">Matéria </label>
         <select name="subject" id="subject" required>
             <option value="">Selecione uma opção</option>
             {%for subject in subjects %}
             <option value="{{loop.index}}">
                 {{subject}}
              </option>
              {%endfor%}
         </select>
         </div>
         <div class="input-block">
             <label for="cost">Custo da Hora/Aula
             <small>(R$)</small>
            </label>
            <input name="cost" type="cost" id="cost" type="number" required>
     </div>
 <div class="horario">
     <fieldset id= "schedule-items">
 <legend>Horários disponíveis
 <button type="button" id="add-time">+ Novo Horário</button>
</legend>
</div>
<div class="schedule-item">
    <div class="select-block">
    <label for="weekday">Dias da Semana</label>
    <select name="weekday[]" id=""><!--o [] PERMITE QUE Weekday tenha mais de um valor,"array em hmtl"-->
    <option value="" disabled="" hidden="">Selecione uma opção</option>
    {%for weekday in weekdays %}
    <option value="{{loop.index0}}">
        {{weekday}}
     </option>
     {%endfor%}
        </select>
  </div>
  <div class="input-block">
      <label for="time_from">Das</label>
      <input type="time"  name="time_from[]" required>
  </div>
  <div class="input-block">
    <label for="time_to">Até</label>
    <input type="time"  name="time_to[]" required>
</div>

</div>

</fieldset>

</form>
<footer>
    <p>
        <img src="/images/images/icons/warning.svg" alt="Aviso Importante">
        Importante! <br>
        Preencha todos os campos
    </p>
    <button type = "submit" form="create-class">Salvar cadastro</button>
</footer>
</main>
</div>
</body>
</html>